.skill-item-wrapper {
  width: 50%;
  max-width: 535px;
  margin-bottom: 50px;
  background: #1c1d21;
  padding: 15px 30px 20px;
  border-radius: 5px;
  border: 1px solid #26272d;
  position: relative;
  z-index: 1;
  align-self: stretch;
  transform: translateX(30px);
  opacity: 0;
  visibility: hidden;
  transition: all 1.5s ease 0.1s;

  &.animated {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    &:nth-child(odd) {
      transform: translate(0, 80px);
    }
  }

  &:nth-child(odd) {
    transform: translate(-30px, 80px);
    transition: all 1.5s ease 0.5s;

    .circle {
      right: inherit;
      left: -61px;
    }

    .rectangle {
      right: inherit;
      left: -50px;
      background: -moz-linear-gradient(
        left,
        rgba(78, 78, 78, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      background: -webkit-linear-gradient(
        left,
        rgba(78, 78, 78, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      background: linear-gradient(
        to right,
        rgba(78, 78, 78, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#00000000',GradientType=1 );
    }
  }

  .circle {
    display: block;
    width: 18px;
    height: 18px;
    background: #f43534;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    right: -61px;
    z-index: 2;
    box-shadow: 0 0px 0px 8px #333;
  }

  .rectangle {
    position: absolute;
    top: 42px;
    right: -50px;
    height: 34px;
    width: 115px;
    background: -moz-linear-gradient(
      left,
      rgba(0, 0, 0, 0) 1%,
      rgba(78, 78, 78, 0.99) 99%,
      rgba(78, 78, 78, 1) 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0) 1%,
      rgba(78, 78, 78, 0.99) 99%,
      rgba(78, 78, 78, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 1%,
      rgba(78, 78, 78, 0.99) 99%,
      rgba(78, 78, 78, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4e4e4e',GradientType=1 );
  }

  h3 {
    font-size: 30px;
    line-height: 42px;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    & span.title {
      white-space: nowrap;
    }
    & span.line {
      display: block;
      position: relative;
      top: 5px;
      margin-left: 30px;
      height: 2px;
      background: -moz-linear-gradient(
        left,
        rgba(78, 78, 78, 1) 0%,
        rgba(15, 15, 15, 0) 81%,
        rgba(0, 0, 0, 0) 100%
      );
      background: -webkit-linear-gradient(
        left,
        rgba(78, 78, 78, 1) 0%,
        rgba(15, 15, 15, 0) 81%,
        rgba(0, 0, 0, 0) 100%
      );
      background: linear-gradient(
        to right,
        rgba(78, 78, 78, 1) 0%,
        rgba(15, 15, 15, 0) 81%,
        rgba(0, 0, 0, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#00000000',GradientType=1 );
    }
  }

  p {
    line-height: 1.6;
    margin-top: 12px;
  }
}

@media screen and (max-width: 1400px) {
  .skill-item-wrapper {
    max-width: 518px;
  }
}

@media screen and (max-width: 1200px) {
  .skill-item-wrapper {
    max-width: 448px;

    .circle {
      right: -42px;
    }

    .rectangle {
      right: -32px;
      width: 65px;
    }

    &:nth-child(odd) {
      .circle {
        left: -42px;
      }

      .rectangle {
        left: -32px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .skill-item-wrapper {
    max-width: 100%;
    width: calc(100% - 30px);
    margin-left: 30px;
    transform: translateX(-30px);

    .circle {
      left: -39px;
      right: inherit;
    }

    .rectangle {
      left: -32px;
      right: inherit;
      background: -moz-linear-gradient(
        left,
        rgba(78, 78, 78, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      background: -webkit-linear-gradient(
        left,
        rgba(78, 78, 78, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      background: linear-gradient(
        to right,
        rgba(78, 78, 78, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#00000000',GradientType=1 );
    }

    &:nth-child(odd) {
      .circle {
        left: -39px;
      }
    }

    &.animated:nth-child(odd) {
      transform: translate(0, 0);
    }
  }
}
